body {
  background-color: hsl(0, 0%, 40%);
}

.character-card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  margin: 30px;
  overflow: none;
  padding: 10px;
  background-color: hsl(0, 100%, 10%);
  color: hsl(51, 100%, 40%);

}

.character-section {
    /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    /* justify-content: space-evenly; */
    width: 100%;
}

#book-card {
  /* border: 1px solid black; */
  width: 300px;
  height: 400px;
  margin: 30px;
  overflow: none;
  padding: 10px;
  box-sizing: content-box;
  /* background-color: hsl(0, 100%, 10%); */
  /* color: hsl(51, 100%, 40%); */
}

.book-section {
     /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    margin: 50px;
    padding: 30px;
    width: 100%;
}

.book-back{
  border: 2px solid black;
  margin: 50px auto;
  background-color: hsl(0, 100%, 10%);
  color: hsl(51, 100%, 40%);
  margin: auto;
  /* padding: 20px; */
}

.card {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll hidden;
  width: 300px;
  height: 400px;
  margin: 50px auto;
  padding: 10px;
}

#cInfo {
  /* border: 1px solid blue; */
  /* height: 120px;
    width: 120px; */
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

#cImage {
  height: 300px;
  width: 300px;
  border-radius: 40%;
}

nav {
  /* display: block; */
  border: 3px solid black;
  justify-content: center;
  border-radius: 20%;
   background-color: hsl(0, 100%, 10%);
  color: hsl(51, 100%, 40%);
}

#nav-title {
    display: flex;
    justify-content: center;
    font-style: italic;
}

#nav-buttons {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  border-top: 2px solid black;  
  text-decoration-line: none;
}

#nav-buttons :visited{
  color: hsl(51, 100%, 40%)
}

#link {
  /* border: 2px solid red; */
  /* height: 100px; */
}

.house-section {
      /* border: 3px solid rebeccapurple; */
    display: flex;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

#house-card {
border: 1px solid black;
  display: block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 30px;
  overflow: none;
  padding: 10px;
  background-color:hsl(0, 0%, 20%);
  color: black;
}

#hInfo {
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

#bInfo {
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

.spell-card{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  margin: 30px;
  overflow: none;
  padding: 10px;
  background-color: hsl(0, 100%, 10%);
  color: hsl(51, 100%, 40%);
}

.spell-section{
      /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    /* justify-content: space-evenly; */
    width: 100%;
}

Link {
  text-decoration: none;
}
