.character-card {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin: auto 30px;
  overflow: auto;
  padding: 10px;
}

.character-section {
    /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    /* justify-content: space-evenly; */
    width: 100%;
}

.card {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll hidden;
  width: 300px;
  height: 400px;
  margin: 50px auto;
  padding: 10px;
}

#cInfo {
  /* border: 1px solid blue; */
  /* height: 120px;
    width: 120px; */
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

#cImage {
  height: 300px;
  width: 300px;
  border-radius: 40%;
}

nav {
  /* display: block; */
  border: 1px solid blue;
  justify-content: center;
}

#nav-title {
    display: flex;
    justify-content: center;
    font-style: italic;
}

#nav-buttons {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid red;
}

#link {
  /* border: 2px solid red; */
  /* height: 100px; */
}

#house-card {
  border: 1px solid red;
  margin: 5px;
  display: flex;
  width: auto;
}

#hInfo {
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

#bInfo {
  margin: 10px;
  padding: 10px 20px;
  box-sizing: content-box;
}

#book-card {
  border: 1px solid red;
  margin: 5px;
  display: flex;
  width: auto;
}

.book-section {
     /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    /* justify-content: space-evenly; */
    width: 100%;
}
